.b-container {
    font-size: 0;
    margin: 0 auto;
    min-height: 600px;
    outline: 1px solid red;
    width: 1000px;
}
.b-container__navigation {
    display: inline-block;
    min-height: 400px;
    outline: 1px solid blue;
    vertical-align: top;
    width: 200px;
}
.b-container__content {
    display: inline-block;
    min-height: 600px;
    outline: 1px solid green;
    vertical-align: top;
    width: 600px;
}
.b-menu__link {
    font-size: 11pt;
}
