
.main_table {
    width: 1000px;
}
.header {
    height: 150px;
}
.menu {
    min-height: 600px;
    width: 200px;
}
.menu h2 {
}
.menu a {
}
.menu a:hover {
}
.content {
    font-family: arial;
    font-size: 10pt;
    padding: 20px 30px;
    width: 600px;
    background: url("content-bg.gif") repeat scroll rgba(0, 0, 0, 0);
}
.content h1 {
    margin: 0;
}
.content a {
}
.content a:hover {
}
.right {
    width: 200px;
}
